/* ---------- CUSTOM PROPERTIES ----------*/
:root {
    --clr-white: #E6E3DB;
    --clr-acc1: #f9f871;
    --clr-acc2: #9af48a;
    --clr-acc3: #00e7b7;
    --clr-acc4: #00d3e2;
    --clr-acc5: #00b9f8;
    --cl4-acc6: #279af1;
    --clr-black: #2c2c2c;
    --gap: 2rem;
    --border-radius: 1rem;
    --gradient-blue: linear-gradient(135deg, #279af1, #00b9f8, #00d3e2);
    --gradient-spring: linear-gradient(135deg, #00e7b7, #9af48a, #f9f871);
    --gradient-purple: linear-gradient(135deg, #8e62a7, #92528a, #8f466e);
}

/* ---------- RESET ----------*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    width: 100vw;          
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    color: var(--clr-white);
    background-color: var(--clr-black);
}

img {
    display: block;
    max-width: 100%;
    border-radius: var(--border-radius);
}

/* ---------- TYPOGRAPHY ----------*/
h1,
h2,
h3 {
    font-family: 'Abril Fatface', cursive;
}

h1 {
    background: linear-gradient(45deg, #734CA9, #7F627B, #FF6392);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

i,
.copy-btn {
    color: var(--clr-black);
    cursor: pointer;
}

i {
    margin: 0 0 0 100%;
}

i:hover,
i:focus,
.copy-btn:hover,
.copy-btn:focus {
    color: #424242;
}

.comment,
.selector {
    font-weight: 600;
}
.comment {
    color: #654B79;
}

.selector {
    color: #61304B;
    font-weight: 600;
}

a {
    color: var(--clr-acc3);
}

a:hover,
a:focus {
    color: var(--clr-acc5);
}

a:visited {
    color: #92528a;
}

/* ---------- LAYOUT ----------*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    max-width: 90%;
    margin-inline: auto;
}

section + section {
    --gap: 1.5rem;
    margin-bottom: var(--gap);
}

section {
    padding: var(--gap);
}

section,
.editor,
.thumbnail {
    border-radius: var(--border-radius);
}

h1,
h2,
h3,
p,
.thumbnail,
iframe {
    margin-bottom: var(--gap);
}

.boilerplate-section {
    flex: 1 2 45%;
    border: none;
    outline: none;
    background: var(--gradient-purple);
}

.editor {
    padding: var(--gap);
    text-align: left;
    color: var(--clr-black);
    background-color: #F0EEE5;
    background-image: repeating-linear-gradient(180deg, #E1DCCB, transparent 20px, #D2CCB1 20px, transparent 40px);
}

.editor > div {
    --gap: .25rem;
    margin-bottom: var(--gap);
}

.tools {
    flex: 1 1 45%;
    flex-wrap: nowrap;
}

.colours {
    --gap: 3rem;
    margin-bottom: 2rem;
    background: var(--gradient-spring);
    color: var(--clr-black);
}

.colours-rows {
    display: flex;
    justify-content: center;
    gap: var(--gap);
}

.codepen-embed {
    margin-bottom: 0;
}

.links {
    background: var(--gradient-blue);
}

/* .links > p {
    padding-bottom: 1rem;
}

.links > .thumbnail {
    padding-top: 1rem;
} */

.embed {
    background: var(--gradient-spring);
}

.help {
    background: var(--gradient-blue);
}

.thumbnail {
    width: 310px;
    margin-bottom: var(--gap);
}

/* ---------- COMPONENTS ----------*/
#transparency-table {
    border-collapse: collapse;
    text-align: center;
}

#transparency-table > th {
    padding: 0 .5rem;
}

#transparency-table tr:nth-child(even) {
    background-color: #E6E3DB80;
}

/* ---------- MEDIA QUERIES ----------*/


